<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (userManagement(); as userManagementRef) {
      <div>
        <h2 data-cy="userManagementDetailsHeading">
          <span jhiTranslate="userManagement.detail.title">User</span> [<strong>{{ userManagementRef.login }}</strong
          >]
        </h2>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="userManagement.login">Login</span></dt>
          <dd>
            <span>{{ userManagementRef.login }}</span>
            @if (userManagementRef.activated) {
              <span class="badge bg-success" jhiTranslate="userManagement.activated">Activated</span>
            } @else {
              <span class="badge bg-danger" jhiTranslate="userManagement.deactivated">Deactivated</span>
            }
          </dd>

          <dt><span jhiTranslate="userManagement.firstName">First name</span></dt>
          <dd>{{ userManagementRef.firstName }}</dd>

          <dt><span jhiTranslate="userManagement.lastName">Last name</span></dt>
          <dd>{{ userManagementRef.lastName }}</dd>

          <dt><span jhiTranslate="userManagement.email">Email</span></dt>
          <dd>{{ userManagementRef.email }}</dd>

          <dt><span jhiTranslate="userManagement.langKey">Language</span></dt>
          <dd>{{ userManagementRef.langKey }}</dd>

          <dt><span jhiTranslate="userManagement.createdBy">Created by</span></dt>
          <dd>{{ userManagementRef.createdBy }}</dd>

          <dt><span jhiTranslate="userManagement.createdDate">Created date</span></dt>
          <dd>{{ userManagementRef.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

          <dt><span jhiTranslate="userManagement.lastModifiedBy">Modified by</span></dt>
          <dd>{{ userManagementRef.lastModifiedBy }}</dd>

          <dt><span jhiTranslate="userManagement.lastModifiedDate">Modified date</span></dt>
          <dd>{{ userManagementRef.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

          <dt><span jhiTranslate="userManagement.profiles">Profiles</span></dt>
          <dd>
            <ul class="list-unstyled">
              @for (authority of userManagementRef.authorities; track $index) {
                <li>
                  <span class="badge bg-info">{{ authority }}</span>
                </li>
              }
            </ul>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>
      </div>
    }
  </div>
</div>
