<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>

<div id="resttest">
<form class="form-horizontal">

	<!-- show a chained link to project->suite->test -->
	
	<div class="control-group">
		<label class="control-label" for="requestHelperType">Request Type: Normal, Basic Digest, Digest Oauth</label>

		<!-- support for more request types such as Basic Oauth and others 
		<div class="controls">
			<input type="text" id="requestType" ng-model="test.suite.suiteName"
				placeholder="Test Name" required min="2" onchange="angular.element(this).scope().updateSuiteId()" >
		</div>
		-->
	</div>

	<div class="control-group">
		<label class="control-label" for="testName">Test Name</label>

		<div class="keyvalueeditor-key ui-autocomplete-input">
			<input class="keyvalueeditor-key ui-autocomplete-input" type="text" id="testName" ng-model="test.testName"
				placeholder="Test Name" required min="2">
		</div>
	</div>
	
	<!--  
	<div class="control-group">
		<label class="control-label" for="suiteId">Suite ID</label>

		<div class="controls">
			<input class="span3" type="text" id="test.suite.suiteId" disabled="disabled"
				ng-model="test.suite.suiteId" >
			<span class="add-on">Auto completes</span>
		</div>
	</div>
	-->
	
	<!-- environment -->
	<div class="control-group">
		<label class="control-label" for="suiteId">Environment</label>
	
		<div ng-repeat="(key, val) in test.testConfig.environment">
			<div class="controls">
				<input class="keyvalueeditor-key ui-autocomplete-input" type="text" id="key" value="{{key}}">
				<input class="keyvalueeditor-key ui-autocomplete-input" type="text" id="val"  value="{{val}}">
				<button type="button" ng-click="removeEnvironment(key)" >-</button>
			</div>
		</div>
		
		<div class="controls">
			<input class="keyvalueeditor-key ui-autocomplete-input" type="text" id="key" placeholder="KEY" ng-model="newEnvironment.key">
			<input class="keyvalueeditor-key ui-autocomplete-input" type="text" id="val" placeholder="VALUE" ng-model="newEnvironment.val">
			<button type="button" ng-click="addEnvironment(newEnvironment)" >+</button>
		</div>
	</div>
	
	<!-- URL and post/get type -->
	<div class="control-group">
		<div class="controls">
			<label class="control-label" for="suiteId">URL</label>
			<label class="control-label" for="suiteId">Type</label>
		</div>
		<div class="controls">
			<input class="keyvalueeditor-key ui-autocomplete-input" type="text" id="testName" ng-model="test.testConfig.url"
				placeholder="URL" required min="2">
			<input class="keyvalueeditor-key ui-autocomplete-input" type="text" id="testName" ng-model="test.testConfig.httpMethod"
				placeholder="URL" required min="2">
		</div>
	</div>
	
	<!-- Headers -->
	<div class="control-group">
		<label class="control-label" for="suiteId">Headers</label>
	
		<div ng-repeat="(key, val) in test.testConfig.headers">
			<div class="controls">
				<input class="keyvalueeditor-key ui-autocomplete-input" type="text" id="key_{{key}}" value="{{key}}">
				<input class="keyvalueeditor-key ui-autocomplete-input" type="text" id="val_{{val}}"  value="{{val}}">
				<button type="button" ng-click="removeHeader(key)" style="size: 200 px;">-</button>
			</div>
		</div>
		<div class="controls">
			<input class="keyvalueeditor-key ui-autocomplete-input" type="text" id="key" placeholder="KEY" ng-model="newHeader.key">
			<input class="keyvalueeditor-key ui-autocomplete-input" type="text" id="val" placeholder="VALUE" ng-model="newHeader.val">
			<button type="button" ng-click="addHeader(newHeader)" style="size: 20 px;">+</button>
		</div>
	</div>
	
	<!-- Input Body -->
	<div class="control-group">
		<label class="control-label" for="suiteId">Input</label>
		<!--  TOGGLE between XML and JSON editors based on the content type
		<div ui-codemirror ui-codemirror-opts="editorOptions"></div>
		-->
		<div id="jsoneditor" style="width: 800px; height: 400px;"></div>
			<script>
				var container = document.getElementById("jsoneditor");
				var options = {
				    mode: 'code',
				    modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
				    error: function (err) {
				      alert(err.toString());
				    }
				};
				var json = {
		            "Array": [1, 2, 3],
		            "Boolean": true,
		            "Null": null,
		            "Number": 123,
		            "Object": {"a": "b", "c": "d"},
		            "String": "Hello World"
		        };
				var editor = new JSONEditor(container, options);
				editor.set(json);
			</script>
	</div>
	
	<!-- Output Body -->
	<div class="control-group">
		<label class="control-label" for="suiteId">Output</label>
	
		<div class="controls">
			<input class="keyvalueeditor-key ui-autocomplete-input" 
				type="text" id="key" ng-model="test.testConfig.oututBody">
		</div>
	</div>
	
	
	<div class="control-group">
		<div class="controls">
			<button type="button" class="btn btn-primary"
				ng-disabled="!test.suite.suiteName || !test.testName" ng-hide="editMode"
				ng-click="addTest(test)">Execute</button>
			<button type="button" class="btn btn-primary"
				ng-disabled="!test.suite.suiteName || !test.testName" ng-show="editMode"
				ng-click="saveTest(test)">Reset</button>
			<button type="button" class="btn" ng-click="resetTest()">Reset</button>
		</div>
	</div>
	
</form>

<hr />
<h3>Test List</h3>
<div class="alert alert-info" ng-show="test.testConfig.environment.length == 0">No Tests found</div>
<table class="table table-bordered table-striped" ng-show="test.testConfig.environment.length > 0">
	<thead>
		<tr>
			<th style="text-align: center; width: 25px;">Key</th>
 			<th style="text-align: center;">Value</th>
			<th style="text-align: center;">ID</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(key, val) in test.testConfig.environment">
			<td style="text-align: center;">{{key}}</td>
			<td>{{val}}</td>
			<td>{{key_val}}</td>
			
			<td style="width: 100px; text-align: center;">
				<button class="btn btn-mini btn-danger"
					ng-click="removeTest(test.testId)">Remove</button>
				<button class="btn btn-mini btn-success" ng-click="editSuite(suite.suiteName)">Edit</button>
			</td>
		</tr>
	</tbody>
</table>
<button class="btn btn-danger" ng-show="suite.tests.length > 1"
	ng-click="removeAllTests()">Remove All Tests</button>

</div>
