<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bankAccount">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.bankAccount.detail.title">Bank Account</span> {{bankAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.bankAccount.name">Name</span></dt>
                <dd>
                    <span>{{bankAccount.name}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.bankAccount.balance">Balance</span></dt>
                <dd>
                    <span>{{bankAccount.balance}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.bankAccount.user">User</span></dt>
                <dd>
                    {{bankAccount.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bank-account', bankAccount.id, 'edit']"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
