<div>
    <h2 translate="sampleApplicationApp.operation.home.title">Operations</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="operation.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="sampleApplicationApp.operation.home.createLabel">Create a new Operation</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteOperationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(operation.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="sampleApplicationApp.operation.delete.question" translate-values="{id: '{{operation.id}}'}">Are you sure you want to delete this Operation?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="sampleApplicationApp.operation.date">Date</th>
                    <th translate="sampleApplicationApp.operation.description">Description</th>
                    <th translate="sampleApplicationApp.operation.amount">Amount</th>
                    <th translate="sampleApplicationApp.operation.bankAccount">bankAccount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="operation in operations track by operation.id">
                    <td><a ui-sref="operation.detail({id:operation.id})">{{operation.id}}</a></td>
                    <td>{{operation.date | date:'medium'}}</td>
                    <td>{{operation.description}}</td>
                    <td>{{operation.amount}}</td>
                    <td>
                        <a ui-sref="bankAccount.detail({id:operation.bankAccount.id})">{{operation.bankAccount.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="operation.detail({id:operation.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="operation.edit({id:operation.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(operation.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
